.afterotp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.afterotp-container .text-head {
  width: 100%;
  height: 88px;
  padding: 32px 320px;
}
.afterotp-container .text-head h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #1d1d22;
}

.afterotp-section {
  margin: 0px 0px 0px 0px;
}

.afterotp-section .afterotp-section-heading {
  /* border: 2px solid rgb(58, 58, 53); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
