.card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 24px 28px 24px 28px;
  width: 240px;
  height: 202px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.flag {
  width: 40px;
  height: 30px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 20px;
  margin: 0;
}

.card p {
  font-size: 14px;
  margin: 5px 0;
}

.address {
  font-size: 12px;
  color: #dcdcdc;
}
